body{
    margin:0;
}
.navBar{
    background-color: lightgray;
    overflow: hidden;
    height: 50px;
}
.navBar button{
    float:left;
    background-color: lightgray;
    width:auto;
    height:100%;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    border: none;
}
.active, .navBar button:hover {
    background-color: darkgray;
    color: white;
}
@font-face {
    font-family: "signature";
    src: url(Pattaya-Regular.ttf)
}
footer{
    font-family:"signature";
    font-size:10px;
}
.format{
    padding:20px
}
/* .navBar a:active{
    background-color: lightcoral;
} */
