<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../css/styles.css">
    
    <title>Document</title>
</head>
<body onload = "cInfoIsChecked()">
    <div class = "navBar">
        <button id = "client" onclick="navClient()">client</button>
        <button id = "products" onclick="navProduct()">Products</button>
        <button id = "cart" onclick="navCart()">Cart</button>
    </div>
    
    <div class = "format">
        <h3>Client Information</h3>
        <p>Would you like any of the following types of food to be removed from the product list?</p>
        <input type = "checkbox" id = "vegetarian" class = "cInfo" value = "vegetarian">
        <label>Vegetarian</label><br/>
        <input type = "checkbox" id = "glutenFree" class = "cInfo" value="glutenFree">
        <label>Gluten Free</label><br/>
        <input type = "checkbox" id = "lactoseIntolerant" class = "cInfo" value="lactoseIntolerant">
        <label>Lactose Intolerant</label><br/>
        <input type = "checkbox" id = "nutAllergy" class = "cInfo" value="nutAllergy">
        <label>Nut Allergy</label><br/><br/>
        <button id = nextPage onclick="cInfoSelect()">Next Page</button>
    </div>
    <footer>
        <p>Website designed by: Sebstien Leduc</p>
    </footer>
    <script src = ../javascript/main.js></script>
</body>
</html>