<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../css/styles.css">
    
    <title>Document</title>
</head>
<body onload="productLoad()">
    <div class = "navBar">
        <button id = "client" onclick="navClient()">client</button>
        <button id = "products" onclick="navProduct()">Products</button>
        <button id = "cart" onclick="navCart()">Cart</button>
    </div>
    <div>

        <h3>Products for you</h3>
        <p>Here are the available products based on your preferences</p>
        <div id = lactoseIntolerant>
        <input type = "checkbox" id = "milk" value = "milk" class = "product">
        <label>Milk</label><br/>
        <input type = "checkbox" id = "yogurt" value = "yogurt" class = "product">
        <label>Yogurt</label><br/>
        </div>
        <div id = "vegetarian">
        <input type = "checkbox" id = "porkChop" value = "porkChop" class = "product">
        <label>Pork Chop</label><br/>
        <input type = "checkbox" id = "tenderloin" value = "tenderloin" class = "product">
        <label>Tenderloin Steak</label><br/>
        <input type = "checkbox" id = "egg" value = "egg" class = "product">
        <label>Egg</label><br/>
        </div>
        <div id = "nutAllergy">
        <input type = "checkbox" id = "peanut" value = "peanut" class = "product">
        <label >Peanuts</label><br/>
        <input type = "checkbox" id = "cashew" value = "cashew" class = "product">
        <label>Cashews</label><br/>
        </div>
        <div id = glutenFree>
        <input type = "checkbox" id = "bread" value = "bread" class = "product">
        <label>Bread</label><br/>
        <input type = "checkbox" id = "cereal" value = "cereal" class = "product">
        <label>Cereal</label>
        </div>
        <br/>
        <button id = prevPage onclick="navClient()">Previous Page</button>
        <button id = nextPage onclick="saveProduct()">Next Page</button>
    </div>

    <script src = ../javascript/main.js></script>
</body>
</html>